.crew-container {
  background-image: url(/src/assets/images/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-position: center;

  main {
    height: 100%;
    color: white;
    padding: 40px 0px;
    overflow-y: hidden;
    @include for-wide-layout {
      padding: 48px 0px;
    }
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin-inline: auto;
    padding: 0 40px;

    @include for-wide-layout {
      max-width: 1110px;
    }

    .text-5 {
      display: flex;
      text-transform: uppercase;
      gap: 20px;
      margin-bottom: 65px;
      font-size: 20px;
      letter-spacing: 3px;

      @include for-wide-layout {
        font-size: 28px;
        letter-spacing: 4px;
        margin-bottom: 29px;
      }
    }
  }

  .crew {
    display: flex;
    flex-direction: column;
    text-align: center;


    @include for-wide-layout {
      text-align: left;
    }


    @include for-wide-layout {
      flex-direction: row;
      gap: 32px;
      flex: 1;
      height: 100%;
    }

    .info-container {
      gap: 55px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-content: center;

      @include for-wide-layout {
        gap: 40px;
      }

      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text-4,
        .text-3 {
          text-transform: uppercase;
        }

        .text-4 {
          padding-bottom: 15px;
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.5rem;

          @include for-wide-layout {
            font-size: 2rem;
            padding-bottom: 12px;
          }
        }

        .text-3 {
          padding-bottom: 24px;
          font-size: 2.5rem;

          @include for-wide-layout {
            font-size: 3.5rem;
          }
        }

        p {
          color: $blue-300;
          padding-inline: 80px;
          font-size: 16px;

          @include for-wide-layout {
            padding-inline: 0px;
            font-size: 18px;

          }
        }
      }

      nav {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        a {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 50%;

          &:hover {
            background-color: rgba(255, 255, 255, 0.4);
          }

          &.active {
            background-color: rgba(255, 255, 255, 1);
          }

        }

        @include for-wide-layout {
          margin-bottom: 48px;
          gap: 40px;
          justify-content: left;

          a {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .img-container {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 400px;
        max-height: 700px;
        
      }

      @include for-wide-layout {
        justify-content: right;
        img {
          width: 500px;
          max-height: 700px;
          filter: saturate(80%);
        $fade-start: 75%;
        -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) $fade-start,
            rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) $fade-start,
            rgba(0, 0, 0, 0) 100%);
        }
      }
    }
  }
}