.destination-container {
  background-image: url(/src/assets/images/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  
  
  .content {
    display: flex;
    flex-direction: column;

    gap: 65px;
    max-width: 765px;
    margin: 40px auto 0px;
    padding-inline: 34px;

    @include for-wide-layout {
      gap: 24px;
      max-width: 1110px;
      margin: 48px auto 0px;
      padding-inline: 0px;
    }

    h2 {
      display: flex;
      align-items: center;
      text-transform: uppercase;

      gap: 23px;
      font-size: 20px;
      letter-spacing: 3px;

      @include for-wide-layout {
        gap: 19px;
        font-size: 28px;
        letter-spacing: 4px;
      }

      span {
        font-weight: bold;
      }
    }

    .destination {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include for-wide-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1110px;
        column-gap: 30px;
      }

      .img-container {
        padding: 0;
        width: 300px;

        @include for-wide-layout {
          padding: 127px 29.5px;
          width: auto;
        }
      }

      .content-container {
        transition: all 200ms ease-in-out;
        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;
        padding: 82px 0px;
        
        @include for-normal-layout{
          padding: 82px 47px;
        }

        @include for-wide-layout {
          align-items: start;
          text-align: start;
          padding: 133px 47px;
        }

        .destination-nav {
          text-transform: uppercase;
          display: flex;
          gap: 30px;

          a {
            border-bottom: 2px solid rgba(255, 255, 255, 0);
            padding-block: 0px 10px;
            transition: border-bottom 300ms ease-in-out;
          }

          a:hover {
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
          }

          a.active {
            border-bottom: 2px solid rgba(255, 255, 255, 1);
          }
        }

        h1 {
          text-transform: uppercase;

          margin-block: 28px 14px;
          font-size: 4rem;
          letter-spacing: 0px;

          @include for-normal-layout {
            font-size: 5rem;
          }

          @include for-wide-layout {
            margin-block: 40px 14px;
            font-size: 6.25rem;
            letter-spacing: -5px;

          }
        }

        p.text-7,
        p.text-9,
        a {
          color: $blue-300;
        }

        p.text-9 {
          padding-inline: 0px;
          font-size: 0.85rem;
        
          @include for-normal-layout {
            padding-inline: 45px;
            font-size: 1rem;
          }

          @include for-wide-layout {
            padding-inline: 0;
            font-size: 1.125rem;
          }
        }

        .line {
          display: flex;
          height: 1px;
          align-self: stretch;
          flex-grow: 0;
          opacity: 0.25;
          background-color: #fff;
          margin-block: 24px;

          @include for-wide-layout {
            margin-block: 38px;
          }
        }

        .info {
          text-transform: uppercase;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 0px;
          padding-inline: 0px;

          @include for-normal-layout {
            column-gap: 24px;
            padding-inline: 40px;

          }
          @include for-wide-layout {
            padding-inline: 0px;

          }

          .distance,
          .time {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .text-6{
              @media(max-width: 375px){
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }


}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}