.home-container {
    background-image: url("/src/assets/images/home/background-home-desktop.jpg");
    background-size: cover;
    background-position: center;

    .center-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        padding: 128px 0px;

        @include for-wide-layout{
            justify-content: end;
            padding: 128px 165px;
        }


        .content {
            display: grid;
            grid-template-columns: 765px;
            grid-template-rows: 312px 1fr;
            margin-inline: auto;
            gap: 87px;
            
            @include for-wide-layout {
                grid-template-columns: 548px 1fr 272px;
                grid-template-rows: 1fr;
                margin-inline: 0;
                gap: 0;
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
                align-items: center;
                height: 343px;

                @include for-wide-layout{
                    align-items: start;
                }


                h3,
                h1 {
                    text-transform: uppercase;
                }

                h3,
                p.text-9 {
                    color: $blue-300;
                    padding-inline: 95px;
                    text-align: center;

                    @include for-wide-layout{
                        text-align: start;
                        padding-inline: 0;
                        

                    }
                }
            }

            .button-container {
                
                display: flex;
                align-items: center;
                justify-self: center;
                @include for-wide-layout{
                    grid-column: 3;
                    justify-self: end;
                }

                button {
                    text-transform: uppercase;
                    border-radius: 50%;
                    width: 272px;
                    height: 272px;
                    cursor: pointer;
                    border: none;
                    box-shadow: 0px 0px 5px 80px rgba(255, 255, 255, 0); //0px 0px blur spread
                    transition: box-shadow 500ms;

                    &:hover {
                        box-shadow: 0px 0px 5px 80px rgba(255, 255, 255, 0.1); //0px 0px blur spread
                    }
                }
            }

        }
    }
}