* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: bellefair-regular;
  font-size: 16px;
  height: fit-content;
}

body {
  background-color: black;
  width: auto;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

li {
  line-height: 0;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  font-family: bellefair-regular;
}

input {
  font-family: bellefair-regular;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

