.app-container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;

}

@media (min-width: 765px) {
  .app-container {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .app-container {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  }

}

@include for-narrow-layout {}

@include for-normal-layout {}

@include for-wide-layout {}