//grayScale
$clr01: hsl(0, 0%, 100%);
$clr02: hsl(270, 3%, 87%);
$clr03: hsl(279, 6%, 55%);
$clr04: hsl(278, 68%, 11%);

// colors
$blue-900: rgb(11,13,23);
$blue-300: rgb(208,214,249);
$white: rgb(255,255,255);

// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 800px;
$normal-breakpoint: 1000px;
$wide-breakpoint: 1200px;
$desktop-breakpoint: 1440px;



// layout vars
$nav-height: 96px;
$nav-top-margin: 40px;

